* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Xanh Mono', monospace;
}

.front {
  background: url('./images/BG.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.formLogin {
  background: whitesmoke;
}

.form-control {
  width: 80% !important;
  padding-left: 1rem;
}

.header {
  background: #0000A3;
  margin: 0;
  font-size: 24px;
  color: white;
}

.nav-link {
  border: solid;
  border-color: #0000A3;
  background: #0000A3;
  color: white !important;
}

.page {
  border-color: white !important;
  background: white !important;
  color: black !important;
}

.footer {
  width: 100%;
  margin-bottom: .2rem;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

Table {
  border: 2px solid;
}

.theader {
  align-items: center;
}

.otherExpense {
  display: block;
  max-height: 500px;
  overflow: auto;
}

.fixedExpense {
  display: block;
  max-height: 380px;
  overflow: auto;
}

.view {
  display: block;
  max-height: 500px;
  overflow: auto;
}

tfoot tr {
  border-top: 1.5px solid #dee2e6;
}

thead, tbody tr, tfoot tr {
  display: table;
  width: 100%;
  table-layout: fixed;/* even columns width , fix width of table too*/
}